<nav role="navigation">
    <ul>
        <li><a href="{#{{ path('app_products') }}#}">Nos produits</a></li>
        {% if app.user %}
            <li><a href="{{ path('app_user_basket') }}">Mon panier</a></li>
            <li><a href="{{ path('app_user_profile') }}">Mon compte</a></li>
            <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
        {% else %}
            <li><a href="{{ path('app_login') }}">Se connecter</a></li>
        {% endif %}
    </ul>
</nav>
