<div class="product-basket-card">
    <img src="{{ orderline.product.picture }}" alt="{{ orderline.product.name }}">
    <div class="product-details">
        <h3>{{ orderline.product.name }}</h3>
        <p>Quantité : {{ orderline.quantity }}</p>
        <p>{{ orderline.product.price }}</p>
    </div>
</div>
