{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

    <article class="product-details-page">
         <div class="product-image">
{#
             <img src="{{ asset('images/products/' ~ product.image) }}" alt="{{ product.name }}">
#}
             <img src="{{ product.picture | imagine_filter('product_detail')}}" alt="{{ product.name }}">
         </div>
        <div class="product-info">
            <h1>{{ product.name }}</h1>
            <p class="price">{{ product.price|number_format(2, ',', ' ') }} €</p>
            <p class="description"><span>Description</span><br>{{ product.longDescription|nl2br }}</p>
            <div class="actions" id="cart-actions">
                {% if app.user %}
                    {{ form_start(form) }}
                    {% if quantityInCart > 0 %} {{ form_row(form.quantity) }}{% endif %}
                        <button type="submit" class="btn btn-fullwidth">
                            {{ quantityInCart == 0 ? 'Ajouter au panier' : 'Mettre à jour' }}
                        </button>
                    {{ form_end(form) }}
                {% else %}
                    <p><a href="{{ path('app_login') }}" class="btn btn-fullwidth">Se connecter</a></p>
                {% endif %}
            </div>
        </div>
    </article>

{% endblock %}
