<div class="product-card">
    {#<img src="{{ asset('images/' ~ product.image) }}" alt="{{ product.name }}">#}
    <a href="{{ path('app_product_details', {id : product.id }) }}">
        <div class="image-container">
            <img src="{{ product.picture | imagine_filter('product_list') }}" alt="{{ product.name }}">
        </div>
    </a>
    <a href="{{ path('app_product_details', {id : product.id }) }}">
        <h3>{{ product.name }}</h3>
    </a>
    <p>{{ product.shortDescription }}</p>
    <p class="price">{{ product.price|number_format(2, ',', ' ') }} €</p>
    <a href="{{ path('app_product_details', {id : product.id }) }}" class="link-cta">Voir le produit</a>
</div>
