{% extends 'base.html.twig' %}

{% block body %}
    <main class="profile-page">
        <h1>Mon compte</h1>
        {% if orders is not empty %}
        <section class="orders-list">
            <h2>Mes commandes</h2>
            <table>
                <thead>
                    <tr>
                        <th>N°</th>
                        <th>Date</th>
                        <th>Prix</th>
                    </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td><a href="{{ path('app_order_details', { id: order.id }) }}">{{ order.orderNumber }}</a></td>
                        <td>{{ order.validatedAt|date('d/m/Y') }}</td>
                        <td>{{ (order.totalPrice)|number_format(2) }} €</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
        {% else %}
            <section class="orders-list">
                <h2>Mes commandes</h2>
                <p>Aucune commande</p>
            </section>
        {% endif %}
        <section class="api-access">
            <h2>Mon accès API</h2>
            <a href="{{ path('app_user_toggle_api_access') }}" class="btn btn-fullwidth">{% if user.isApiAccess() %}Désactiver{% else %}Activer{% endif%} mon accès API</a>
        </section>
        <section class="account-actions">
            <a href="{{ path('app_user_delete_account') }}" class="btn btn-fullwidth">Supprimer mon compte</a>
        </section>
    </main>
{% endblock %}
